*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #0d1127;
}

ul li{
    list-style: none;
}

/* navbar css */


nav{
    background-color: #0d1127;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;

}

#blur{
    background-color: #0d1127;
    opacity: 0.8;
    width: 100vw;
    height: 20px;
    position: fixed;
    top: 100px;
}

nav ul:nth-of-type(1) li{
    list-style: none;
    margin-left: 25px;
}

nav ul:nth-of-type(2) li{
    list-style: none;
}

nav ul:nth-of-type(1){
display: flex;
align-items: center;

}

nav ul a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    margin-left: 25px;
}
#fav{
    animation-duration: 3s;
    animation: ease-out;
}
#fav:hover{
    transform: scale(1.05)
}
nav ul a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  
}

nav ul:nth-of-type(2){
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

nav ul img{
    height: 130px;
    background-size: contain;
    object-fit: cover;
}

.search-box ul:nth-of-type(1){
    display: flex;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    color: white;
    background-color: #13183E;
    align-items: center;
}

.bell-icon i{
    color: white;
    font-size: 1.2rem;
}

.search-box{
    margin-right: 15px;
}
.bell-icon{
    margin-right: 10px;
}
.profile-logo{
    margin-right: 25px;
}
#s1{
   margin-left: 10px;
}

#s2{
    margin-left: 65%;
}

.profile-logo img{
    margin-right:15px ;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-size: cover;
  object-fit: cover;
}


/* nav ends here */



main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 120px auto;
}


/* main home */

 #left{
     margin-right: 10px;
     /* height: 2000px; */
     width: 60vw;
     border: 2px solid white;
 }

 #heading{
     color: white;
     margin-left: 10px;
 }

 #grid-1{
     display: grid;
     grid-template-columns: repeat(2,1fr);
 }
 .grid-box{
     margin: 30px;
     width: 25vw;
     display: flex;
     justify-content: space-between;
 }
 .grid-box img{
  height: 120px;
  border-radius: 5px;
 }

 #grid-des{
     display: flex;
     flex-direction: column;
     align-items: initial;
     margin-left: 20px;
     color: white;
 }

 #grid-des li:nth-of-type(1){
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
 #grid-des li:nth-of-type(2){
     margin-top: 8px;
     color: white;
     font-weight: 300;
 }
 .grid-box ul:nth-of-type(1){
    display: flex;
    align-items: center;
 }
 .grid-box ul:nth-of-type(2){
    display: flex;
    align-items: center;
    flex-direction: column;
     align-items: flex-end;
     color: white;
 }


 /* popular artists */

 #popular-artists{
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 #popular-artists ul{
     margin-left: 15px;
     margin-top: 15px;
 }

 #popular-artists img{
     object-fit: cover;
     height: 130px;
     width: 130px;
     border-radius: 100%;
 }
 #popular-artists li:nth-of-type(2){
     text-align: center;
    margin-top: 10px;
    color: white;
 }

 /* sidebar css */

 #right{
     margin-left: 10px;
    /* height: 1000px; */
    width: 25vw;
    background-color: #0d1127;
    /* border: 2px solid white; */
 }

#sidebar-top{
     display: flex;
     justify-content: space-between;
     margin: 10px;
 }

#sidebar-top h1{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}
#sidebar-top ul{
    color: #50E3C2;
    width: 70px;
    display: flex;
     justify-content: space-between;
}

.music-bar{

  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-bar i{
    color: white;
    font-size: 20px;
}

.music-bar ul i{
    font-size: 15px;
    color: #50E3C2;
}



.music-bar ul{
    display: flex;
    align-items: center;
    color: white;
}
.music-bar ul li:nth-of-type(2) {
    margin-left: 10px;
    color: white;
}
.music-bar ul img{
    object-fit: cover;
    height: 60px;
    border-radius: 5px;
    margin-left: 10px;
}
